.footerNav {
  position: fixed;
  background-color: white;
  left: 0;
  bottom: 0;
    right: 0;
    height: 100px;
  display: flex;
  justify-content: center;
  }

.footerListItems {
  display: flex;
  justify-content: space-evenly;
}
.navBar {
  width: 100%;
}

.footerListItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footerName {
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
}